{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}Crear Proyecto{% endblock %}
{% block h1 %}Crear un nuevo Proyecto{% endblock %}
{% block content %}
  <form method="post" novalidate action="{% url 'crearproyecto'%}">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Crear proyecto</button>
  </form>
{% endblock %}