{% extends 'base.html' %}


{% block title %}Lista de proyectos{% endblock %}
{% block h1 %}Lista de proyectos{% endblock %}
    {% block table %}
  
    <table>
        <tr>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Fecha</th>
          <th ></th>
          <th></th>
        </tr>
        {% if proyecto_list %}
        {% for proyecto in proyecto_list %}
        <tr>
        <td> <a href="{{ proyecto.get_absolute_url }}">{{ proyecto.nombre }}</a> </td>
        <td>{{proyecto.estado}}</td>
        <td>{{proyecto.fecha}}</td>
        <td><a class="btn btn-success btn-sm" href="{% url 'editarproyecto' proyecto.id %}">Editar</a></td>
        <td><a class="btn btn-danger btn-sm" href="{% url 'eliminarproyecto' proyecto.id %}">Eliminar</a></td>
      </tr>
        {% endfor %}
      {% else %}
        <p>No existen proyectos.</p>
      {% endif %} 
      </table>
    <div class="container">
  </div>   
  {% endblock %}
