{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body class="bg">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="row m-5 p-5 cont-form justify-content-center d-block">
                <form role="form" method="POST" action="{% url 'login'%}">
                    {% csrf_token %}
                    <h4 class="row justify-content-center text-bold">SoftProject</h4>
                    <br>
                    <div class="form-group">
                        <label class="font-weight-bold" style="font-size:60%" for="usernameInput">USUARIO</label>
                        <input type="text" name="username" class="form-control" id="username" required autofocus>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" style="font-size:60%" for="password">CONTRASEÑA</label>
                        <input type="password" name= "password" class="form-control" id="password" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        <h6>Login</h6>
                    </button>
                    <span class="text-danger">
                    <!-- Put password error message here --> 
                        {% if form.errors %}
                            <p>Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
                        {% endif %}
                    </span>
                </form>
            </div>

        </div>
    </div>

    <!-- Script's-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>