{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}Editar Usuario{% endblock %}
{% block h1 %}Editar Usuario{% endblock %}
{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Actualizar datos</button>
  </form>
{% endblock %}