{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}Modificar Linea Base{% endblock %}
{% block h1 %}Modificar Linea Base{% endblock %}

{% block content %}
<form method="post" novalidate>
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-success">Actualizar datos</button>
</form>
{% endblock %}
