{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}Crear Item{% endblock %}
{% block h1 %}Crear un nuevo item{% endblock %}
{% block content %}
  <form method="post" novalidate action="#"}>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Agregar Item</button>
  </form>
{% endblock %}
